<%- include("../partials/header.ejs") %>
  <div class="container p-5">
    <div class="card">
      <div class="card-header">
        <h5>Add Expense <a class="btn btn-primary float-right" href="/employee/dashboard">Dashboard</a></h5>
      </div>
      <div class="card-body">
        <form action="/employee/expenses/add" method="post" enctype="multipart/form-data" novalidate>
            <div class="form-group">
              <label for="expenseType">Type of Expense</label>
              <select class="form-control" name="expenseType" id="expenseType" required>
                <option value="" <% if(!expenseType) { %>selected<% } %> disabled>Choose</option>
                <option value="travel" <% if(expenseType === "travel") { %>selected <% } %>>Travel Expense</option>
                <option value="refreshment" <% if(expenseType === "refreshment") { %>selected <% } %>>Refreshment Expense</option>
                <option value="flight" <% if(expenseType === "flight") { %>selected <% } %>>Flight Expense</option>
                <option value="stationary" <% if(expenseType === "stationary") { %>selected <% } %>>Stationary Expense</option>
                <option value="emergency" <% if(expenseType === "emergency") { %>selected <% } %>>Emergency Expense</option>
                <option value="miscellaneous" <% if(expenseType === "miscellaneous") { %>selected <% } %>>Miscellaneous Expense</option>
              </select>
            </div>
            <div class="form-group hide" style="display:none" id="amount">
              <label for="amount">Amount in Rupees</label>
              <input type="number" class="form-control clear" name="amount" placeholder="Enter amount" value="<%= amount %>" required>
            </div>
            <div class="form-group hide"  style="display:none" id="mode">
              <label for="mode">Mode of travel</label>
              <select class="form-control clear" name="mode" placeholder="Select mode of travel" required>
                <option value="" <% if(!mode) { %>selected<% } %> disabled>Choose</option>
                <option value="car" <% if(mode === "car") { %>selected <% } %>>By Car</option>
                <option value="bus" <% if(mode === "bus") { %>selected <% } %>>By Bus</option>
                <option value="flight" <% if(mode === "flight") { %>selected <% } %>>By Flight</option>
                <option value="train" <% if(mode === "train") { %>selected <% } %>>By Train</option>
                <option value="cab" <% if(mode === "cab") { %>selected <% } %>>By cab</option>
                <option value="other" <% if(mode === "other") { %>selected <% } %>>Other</option>
              </select>
            </div>
            <div class="form-group hide" style="display:none" id="from">
              <label for="from">From</label>
              <input type="text" class="form-control clear" name="from" placeholder="Flight started from" value="<%= from %>" required>
            </div>
            <div class="form-group hide"  style="display:none" id="to">
              <label for="to">To</label>
              <input type="text" class="form-control clear" name="to" placeholder="Flight end in" value="<%= to %>" required>
            </div>
            <div class="form-group hide" style="display:none" id="detail">
              <label for="detail">Detail</label>
              <input type="text" class="form-control clear" name="detail" placeholder="Expense Detail" value="<%= detail %>" required>
            </div>
            <div class="form-group hide" style="display:none" id="billImage">
              <label for="billImage">Bill Image</label>
              <input type="file" class="form-control clear" name="billImage" placeholder="Upload Bill Image" required>
              <small>File must be less than 2 mb.</small>
            </div>
            <button type="submit" class="btn btn-primary hide" style="display:none" id="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <script>
    const $expenseType = document.querySelector("#expenseType")
    const $amount = document.querySelector("#amount")
    const $mode = document.querySelector("#mode")
    const $from = document.querySelector("#from")
    const $to = document.querySelector("#to")
    const $detail = document.querySelector("#detail")
    const $billImage = document.querySelector("#billImage")
    const $submit = document.querySelector("#submit")
    const $hide_all = document.querySelectorAll(".hide")
    const $clear_all = document.querySelectorAll(".clear")
    const preExpenseType = <% if(!expenseType) { %>null<% }else { %>"<%= expenseType %>"<% } %>

    function hide_all_inputs(elements) {
      for ( const element of elements) {
        element.style.display = "none"
      }
    }

    function disable_specific_inputs() {
      $mode.setAttribute("disabled", "disabled")
      $from.setAttribute("disabled", "disabled")
      $to.setAttribute("disabled", "disabled")
    }


    function clear_all_inputs(elements) {
      for ( const element of elements) {
        element.value = ""
      }
    }

    function hide_specific_inputs(expenseType) {
      if(["refreshment", "emergency", "stationary", "miscellaneous"].includes(expenseType)) {
        hide_all_inputs($hide_all)
        disable_specific_inputs()
        $amount.style.display = "block"
        $detail.style.display = "block"
        $billImage.style.display = "block"
        $submit.style.display = "block"
      } else if(expenseType === "flight") {
        hide_all_inputs($hide_all)
        disable_specific_inputs()
        $amount.style.display = "block"
        $from.style.display = "block"
        $to.style.display = "block"
        $detail.style.display = "block"
        $billImage.style.display = "block"
        $submit.style.display = "block"
        $from.removeAttribute("disabled")
        $to.removeAttribute("disabled")
      } else if(expenseType === "travel") {
        hide_all_inputs($hide_all)
        disable_specific_inputs()
        $amount.style.display = "block"
        $mode.style.display = "block"
        $detail.style.display = "block"
        $billImage.style.display = "block"
        $submit.style.display = "block"
        $mode.removeAttribute("disabled")
      }
    }

    if($expenseType.value === preExpenseType) {
      hide_specific_inputs($expenseType.value)
    }

    $expenseType.addEventListener("change", (e) => {
      hide_specific_inputs(e.target.value)
      clear_all_inputs($clear_all)
    })
  </script>
<%- include("../partials/footer.ejs") %>